{%extends "base.html"%}
{%load static%}

{% block content %}

{%if user.is_authenticated %}
    <div class='container'>
        <div class="row">
            <div class="col-lg-12">
                <div class="box-element">
                <strong><h1>Favorite items</h1></strong>
                <br>
                <div class="box-element">
                    <div class="cart-row">
                        <div style="flex:2"></div>
                        <div style="flex:2"><strong>Item</strong></div>
                        <div style="flex:1"><strong>Price</strong></div>
                    </div>
                    {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
                        <div style="flex:2"><a class="card-title" href="{% url 'categories' %}"><p id="cart-title">{{item.product.name}}</p></a></div>
                        {%if item.product.discount_amount%}
                        <div style="flex:1"><p>${{item.product.get_discount_price|floatformat:2}}</p></div>
                        {%else%}
                        <div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
                        {%endif%}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{%else%}
    <div class='container'>
        <div class="row">
            <div class="col-lg-12">
                <div class="box-element">
                    <strong><h1>Favorite items</h1></strong>
                    <br>
                    <br>
                    <table class="table">
                        <tr>
                            <th><h5 style="text-align: center">To make items favorite you need to log in to your account</h5></th>
                        </tr>
                    </table>
                    <table class="table">
                        <tr class = 'unauth_login_flex'>
                            <th><a class='' href="{% url 'login' %}"><h5>
                                <button type="button" class="btn btn-primary btn-lg" id="card_bootstrap_btn">
                                    If you already have an account just sign in
                                </button>
                            </h5></a></th>
                            <th><a class='' href="{% url 'register' %}"><h5>
                                <button type="button" class="btn btn-primary btn-lg" id="card_bootstrap_btn">
                                    If you don't have account register here
                                </button>
                            </h5></a></th>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
{%endif%}

{% endblock content %}