{% extends "base.html" %}
{%load static %}

{% block content%}
<div class="container">
    <div class="row dd-flex justify-content-center">
        <div class="col-md-8">
            <div class="card px-3">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="fs-1 ms-1 mt-3 product_name">{{product.name}}</h1>
                        {% if product.discount_amount %}
                        <div class ="prices-flex">
                            <div style="display: flex; align-items: center; gap: 1rem;">
                                <div class="price" id="current_price">${{product.get_discount_price|floatformat:1}}</div>
                                <div class="price" id="initial_price">${{product.price|floatformat:1}}</div>
                                <div class="price" style='color: #FD451C;'>({{product.discount_amount|floatformat:0}}%)</div>
                            </div>
                        </div>
                        {%else%}
                        <div class="price" id="current_price">${{product.price|floatformat:1}}</div>
                        {% endif%}
                        <div class="ms-1"> <span>{{product.description}}</span></div><br>
                        <div class="cart_button"><button data-product={{product.product_id}} data-action="add" class="btn btn-primary update-cart button" id="card_bootstrap_btn">Add to Cart</button></div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-image"> <img src="{{product.image.url}}"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--RIGHT SECTION WITH COLLAPSIBLE
<div class='right-column'>
<div class="right_section_opened">

<button class="collapsible">
    <div>Product info</div>
</button>
<div class="content">
    <div class="review">
        <div class="text" id="review_text">REVIEWS:</div>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        <button class="open-button" onclick="openForm()">Leave your review</button>
        </div>
    <p class="text">{{product.description}}</p>
</div>

<button class="collapsible">
<div>Delivery info</div>
</button>
<div class="content">
<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="collapsible">
<div>Return policy</div>
</button>
<div class="content">
<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>

<div class="form-popup" id="myForm">
<form action="/action_page.php" class="form-container">
<h1>Submit your review</h1>

<label for="email"><b>Your name</b></label>
<input type="text" placeholder="Write your name here" name="email" required>

<label for="psw"><b>Review</b></label>
<input type="password" placeholder="Write a review here" name="psw" required>

<button type="submit" class="btn">Submit</button>
<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</form>
</div>
</div>
</div>
</div> -->
<script type="text/javascript" src="{% static 'js/item.js' %}"></script>
{%endblock%}