li, a {
  font-family: 'Inter';
  font-style: normal;
  font-size: 22px;
  color: aliceblue;
  }

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 0, 0, 0.979);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-decoration: none;
    color: aliceblue;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.562);
}

#header-link {
  text-decoration: none;
  gap: 2em;
}

#header-icons{
  gap: 1.2em;
}

.dropdown-menu-end[data-mdb-popper] {
  right: 0;
  background-color: white;
  margin-top: 0.5rem;
  left: auto;
}

.dropdown-item {
  font-size: 0.8em;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  padding: 1rem;
}


/* Styles for the text on main page */
.main_text {
    padding: 3.5% 3.5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    text-align: center;
    color: #000000;
    line-height: 155px;
}

/* Styles for the news main page */
.news_container{
  padding: 1rem 8.5%;
}

#news_title {
  cursor: pointer;
  color: #323232;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;
}

#news_author{
  color: #aaaaaa;
}

.news_image {
  width: -webkit-fill-available;
}

#news_card{
  border: none;
}

/* Styles for the news view page */
#news_row{
  justify-content: center;
}



/* Styles for categories page */

/* Item brand description */

.items_bg{
  width: 100%;
  height: 980px;
  left: 0px;
  top: 1129px;
  background: #EFEFEF;
  border-radius: 15px;
}
.brand_description_body {
  width: 1133px;
  height: 180px;
  left: 647px;
  top: 1189px;
  background: white;
  border-radius: 15px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
  display: flex;
  align-items: center;
  justify-content: center;
}
  .brand_description{
  width: 1057.8px;
  height: 125px;
  left: 684.6px;
  top: 1216px;
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
  }
      .brand_logo{
      width: 127.02px;
      height: 125px;
      left: 684.6px;
      top: 1216px;
      border-radius: 50%;
      }
      .description_flex{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 6px;

      width: 291.63px;
      height: 89px;
      left: 833.97px;
      top: 1234px;
      }
          #brand_name{
          width: 287px;
          height: 29px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          }
          .location_flex{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          gap: 8px;

          width: 287px;
          height: 24px;
          }
          .items_count{
          width: 287px;
          height: 24px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;

          color: #FD451C;
          }
      .brand_photos{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 14px;

      width: 491.81px;
      height: 112px;
      left: 1250.59px;
      top: 1223px;
      }
          .brand_photo{
          width: 112px;
          height: 112px;
          border-radius: 7px;
          cursor: pointer;
          }
          #blur{
          width: 112px;
          height: 112px;
          left: 378px;
          top: 0px;

          filter: blur(2px);
          border-radius: 7px;
          }
          .blur_text{
          width: 39.63px;
          height: 19px;
          left: 415.6px;
          top: 46px;
          cursor:pointer;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: white;
          }


/* Item cards */

.card-body{ 
  padding: 1.25rem;
}
#item_card_row {
  gap: 1rem;
}

#card_fav{
  position: absolute;
  padding-top: 2rem;
  padding-left: 14.5rem;
  cursor: pointer;
}

.card-title {
  margin: 0;
  color: #323232;
  font-size: 1.2rem;
  font-weight: 400;
}

.card_location_container{
  display: flex;
  flex-direction: row;
  gap: 8px;
  }
  .card_location{
    color: #525252;
  }
  .card_location_icon{
    width: 20px;
    height: 20px;
  }

.card_available{
    color: #328f2a;
    margin: 0;
  }

.card_price {
  display: flex;
  gap: 8px;
}
  #current_price{
    color: #261E34 
  }
  .card_discount{
    color: #FD451C;
  }
  #initial_price{
    text-decoration-line: line-through;
    color: #525252;
  }

.card_hr {
  margin-top: 0;
}

.btn-primary {
  --mdb-btn-bg: #000000;
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #000000;
  --mdb-btn-hover-bg: #000000;
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: #000000;
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #000000;
  --mdb-btn-active-color: #fff;
  --mdb-btn-hover-border-color: #ffffff;
  --mdb-btn-focus-shadow-rgb: 88,134,210;
  --mdb-btn-active-border-color: #ffffff;
  --mdb-btn-active-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
  --mdb-btn-disabled-color: #fff;
  --mdb-btn-disabled-bg: #ffffff;
  --mdb-btn-disabled-border-color: #ffffff;
}

.card_buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
  #card_bootstrap_btn {
    width: -webkit-fill-available;
    background-color: #323232;
    border-color: #ffffff;
    border-radius: 10px;
    border: hidden;
  }

/* Item page */

/* Main contents (left side of the page) */

.left_section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 37px;
  font-family: 'Inter';
  font-style: normal;
  width: 464px;
 }
 
  .product_name {
  font-weight: 700;
  font-size: 76px;
  line-height: 91px;
 
  color: #323232;
  }
  .product_description{
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

  color: #525252;
  }
 
  .colors {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
  }
  .colors_text {
    font-weight: 400;
    font-size: 32px;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #525252;
  }
  .colors_circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #DE8383;
  }
  #second_color{
             background: #E1AD60    
  }
  #third_color{
             background: #000000;    
  }

  .button {
    width: 203px;
    height: 77px;
    cursor: pointer;
    background: #323232;
    border-radius: 35px;
    font-weight: 550;
    font-size: 24px;
    color: #FFFFFF;
  }
  
 .arrows_body{
 position: absolute;
 width: 203px;
 height: 77px;
 left: 859px;
 top: 201px;
 display: flex;
 justify-content: center;
 align-items: center;
 }
     .arrows_flex{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     padding: 0px;
     gap: 50px;
     width: 146px;
     height: 48px;
     }
 
 /* Main contents (middle of the page) */

.favprice{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 62px;
position: absolute;
width: 494px;
height: 48.06px;
left: 720.15px;
top: 339.04px;
}
.fav_product_icon{
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
    cursor: pointer;
}
.price{
width: 375px;
height: 27.03px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: right;
color: #2B233A;
justify-content: flex-end;
}
#orange_text{
color: #FD451C;
}
.middle_bg{
position: absolute;
top: 301px;
width: 526.53px;
height: 526.62px;
left: 697.23px;

background: rgba(255, 236, 227, 0.8);
border-radius: 15px;
}
.product_image{
position: absolute;
width: 686px;
left: 617px;
top: 371.08px;

background: url(Product_image.png)
}
 
 /* Main contents (right side of the page) */
 
 .right_section_opened {
 box-sizing: border-box;
 
 position: absolute;
 width: 468px;
 height: 777px;
 left: 1293px;
 top: 212px;
 }
 
 /* Collapsable menu and popups */
 
 .collapsible {
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     cursor: pointer;
     padding: 18px;
     width: 468px;
     border: none;
     text-align: left;
     outline: none;
 
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 24px;
     border-bottom: 1px solid rgba(163, 163, 163, 0.6);
 
     display: flex;
     justify-content: space-between;
   }
 
     .text {
       width: 438px;
       padding: 3px 3px;
       margin: 10px;
       font-family: Inter;
       font-style: normal;
       font-weight: 400;
       font-size: 15px;
       color: rgb(82, 82, 82);
   }
     #review_text {
     width:auto;
     }
   
   .review{
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px;
     gap: 7px;
     width: auto;
     height: 21px;
     margin-top: 1em;
     cursor: pointer;
   }
   #full, #empty {
     cursor: pointer;
   }
   .open-button{
 width: 160px;
 height: 21px;
 border: 1px solid #D9D9D9;
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 15px;
 line-height: 18px;
 text-align: center;
 padding: 0px;
 color: #525252;
 cursor: pointer;
   }
 
 .form-popup {
     display: none;
     position: fixed;
     bottom: 0;
     right: 15px;
     border: 3px solid #f1f1f1;
     z-index: 9;
   }
 
 h1{
     font-size: 1.5em;
 }
 
   .form-container {
     max-width: 300px;
     padding: 10px;
     background-color: white;
     text-align: center;
   }
   
   .form-container input[type=text], .form-container input[type=password] {
     width: 270px;
     padding: 15px;
     margin: 5px 0 22px 0;
     border: none;
     background: #f1f1f1;
   }
 
   .form-container input[type=text]:focus, .form-container input[type=password]:focus {
     background-color: #ddd;
     outline: none;
   }
 
   .form-container .btn {
     background-color: #7FE276;
     color: #131313;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     width: 100%;
     margin-bottom:10px;
     opacity: 0.8;
   }
 
   .form-container .cancel {
     background-color: #DE8383;
     color: white;
   }
   
   .form-container .btn:hover, .open-button:hover {
     opacity: 1;
   }
 
 
   .active {
     width: 468px;
     border-bottom: 1px solid rgba(163, 163, 163, 0.6);
   }
   
   .collapsible:hover {
     background-color: rgb(240, 240, 240);
   }
 
   .content {
     width: 468px;
     max-height: 0;
     overflow: hidden;
     transition: max-height 0.2s ease-out;
   }
 
   .close_image{
     visibility: hidden;
   }
   

/* Styles for cart page */
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;

}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.hidden{
	display: none!important;
}

/* Tracking page styles */
.contents_wrapper{
padding: 48px 8.5%;
gap: 79px;
display: flex;
flex-direction: column;
align-items: center;
}

.tracking_body {
width: 100%;
height: 158px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
font-size: 32px;
}
.form_body{
width: 80%;
}
#form{
width: 100%;
}
#order_number{
width: 100%;
height: 96px;
font-size: 32px;
border: 1px solid rgba(163, 163, 163, 0.6);
box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
border-radius: 50px;
text-align: center;
}

.process{
display: flex;
flex-direction: row;
align-items: flex-start;
width: 852px;
position: relative;
height: 75px;
justify-content: center;
}   
.process_bar_body{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 50px;
position: absolute;
justify-content: center;
top: 25px;
}
.process_bar_item_complete{
  width: 211px;
  height: 15px;

  background: #7FE276;
  border: 1px solid rgba(163, 163, 163, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.process_bar_item_incomplete{
  width: 214px;
  height: 15px;
      
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.process_circles_body{
display: flex;
flex-direction: row;
padding: 0px;
gap: 188px;
position: absolute;
justify-content: center;
}
.process_circle_item_complete{
  width: 72px;
  height: 72px;
  background: #7FE276;
  border: 1px solid rgba(163, 163, 163, 0.7);
  border-radius: 50%;
}
.process_circle_item_incomplete{
      width: 72px;
      height: 72px;
      background: #D9D9D9;
      border: 1px solid rgba(163, 163, 163, 0.7);
      border-radius: 50%;
}
.process_icons_body{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 218px;
top: 15px;
position: absolute;
justify-content: center;
}
.process_icon{
  width: 42px;
  height: 42px;   
}

.items_display {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
width: 55%;
gap: 66px;
align-items: center;
}
.item_body{
display: flex;
flex-direction: row;
align-items: center;
gap: 36px;
width: 100%;
}
.item_description{
  width: 90%;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;                
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Adaptives */

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {

    max-width: 1140px;
}}