<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMG Categories</title>
    <link rel="stylesheet" href="Categories_style.css"> 
</head>
<body>
    <header>
        <div class="flex_item_header">
            <ul class="nav_links">
                <li><a href="New_In.html">New In</a></li>
                <li><a href="Categories.html">Categories</a></li>
                <li style="padding: 0px"><a href="Tracking_order.html">Track order</a></li>
            </ul>
        </div>
        <div class="flex_item_header">
            <a href="Landing_page.html"><img class="logo" src="Logo.png"></a>
        </div>
        <div class="flex_item_header">
            <ul class="icons_list">
                <li><a href="Testing_pages.html"><img class="icon" src="Search_dark.png"></a></li>
                <li><img class="icon" src="Favorites_dark.png"></li>
                <li><img class="icon" src="Shopping_cart_dark.png"></li>
                <li style="padding: 0;"><a href="User_signin.html"><img class="icon" src="Profile_dark.png"></a></li>
            </ul>
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <a href="Landing_page.html" class="small_logo"><span><img class="logo_small" src="Logo_small.png"></span></a>
    </header>
    <div class="left_section">
            <div class="product_name">Balenciaga Logo Hoodie</div>
            <div class="product_description_body">
                <div class="product_description">100% cotton, made in Portugal</div>
            </div>
            <div class="colors">
               <div class="colors_text">Colors:</div>
               <div class="colors_circle" id="first_color"></div>
               <div class="colors_circle" id="second_color"></div>
               <div class="colors_circle" id="third_color"></div>
            </div>
            <div class="cart_button">
                <button class="button">+ Add to Cart</button>
            </div>
    </div>
    <div class="middle_bg"></div>
    <img class='product_image' src="Product_image.png"> 
    <div class="arrows_body">
        <div class="arrows_flex">
            <div><img src="Arrow left.png"></div>
            <div><img src="Arrow right.png"></div>
        </div>
    </div>
    <div class="favprice">
        <div class="fav_product_icon">
            <img src="Fav icon produc showcase.png">
        </div>
        <div class="price">
            $349<span id="orange_text">(25% OFF)</span>
        </div>
    </div>
    <div class="right_section_opened">
        <button class="collapsible">
            <div>Best Selling</div>
            <div><img src="Plus.png"></div>
        </button>
        <div class="content">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="collapsible">
            <div>Product info</div>
            <div><img src="Plus.png"></div>
        </button>
        <div class="content">
        <div class="review">
            <div class="text" id="review_text">REVIEWS:</div>
            <div>
                <img class="review_star" id="full" src="Star_full.png">
                <img class="review_star" id="full" src="Star_full.png">
                <img class="review_star" id="full" src="Star_full.png">
                <img class="review_star" id="full" src="Star_full.png">
                <img class="review_star" id="empty" src="Star_empty.png">
                
            </div>
            <button class="open-button" onclick="openForm()">Leave your review</button>
        </div>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="collapsible">
            <div>Delivery info</div>
            <div><img src="Plus.png"></div>
        </button>
        <div class="content">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="collapsible">
            <div>Return policy</div>
            <div><img src="Plus.png"></div>
        </button>
        <div class="content">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
          <h1>Submit your review</h1>
      
          <label for="email"><b>Your name</b></label>
          <input type="text" placeholder="Write your name here" name="email" required>
      
          <label for="psw"><b>Review</b></label>
          <input type="password" placeholder="Write a review here" name="psw" required>
      
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    <div class="items_bg"></div>
    <div class="brand_description_body">
        <div class="brand_description">
            <div class="brand_logo">
                <img src="Brand_logo.png">
            </div>
            <div class="description_flex">
                <div id="brand_name">
                    Balenciaga
                </div>
                <div class="location_flex">
                    <div>Location</div>
                    <div><img src="Store_location.png"></div>
                    <div>Beijin China</div>
                </div>
                <div class="items_count" id="available">
                    123 items available
                </div>
            </div>
        </div>
    </div> 
    <div class="brand_photos">
        <div class="brand_photo"><img src="Brand_photo.png"></div>
        <div class="brand_photo"><img src="Brand_photo.png"></div> 
        <div class="brand_photo"><img src="Brand_photo.png"></div>
        <div class="brand_photo" id="blur">
             <img src="Brand_photo.png">
         </div> 
         <div class="blur_text">123+</div>
     </div> 
    <div class="filters_body">
        <div class="filters_flex">
            <div class="filter_search">
                <div class="filters_header">Search</div>
                <div class="form"><form class="form" action="#" >
                    <input id="search_bar" type="text" placeholder="Write down an item you're looking for">
                </form></div>
            </div>
            <div class="filter_filters">
                <div class="filters_header">Filters</div>
                <button class="filters_button" type="button">Reset</button>
            </div>
            <div class="filter_price">
                <div class="filters_header">Price</div>
                <form class="price_form" action="#">
                    <input id="price_bar" type="text" placeholder="Enter max. price">
                </form> 
                <button class="filters_button" type="button">Hide</button>
            </div>
            <div class="filter_type">
                <div class="filters_header">Type</div>
                <div class="types_flex">
                    <div class="checkbox_flex">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                        <input class="checkbox" type="checkbox" name="" value="">
                    </div>
                    <div class="types">
                        <div class="type">Coats & Jackets</div>
                        <div class="type">Dresses</div>
                        <div class="type">Jeans and Denim</div>
                        <div class="type">Jumpsuits and Overalls</div>
                        <div class="type">Modest fashion</div>
                        <div class="type">Pants</div>
                        <div class="type">Shirts</div>
                        <div class="type">Skirts</div>
                        <div class="type">Suits and Blazers</div>
                        <div class="type">Sweaters and Sweatshirts</div>
                        <div class="type">Swimwear</div>
                        <div class="type">T-Shirts and Tops</div>
                        <div class="type">Underwear</div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div class="items_body">
            <div class="item">
                <div class="item_picture"><img src="Card_photo.png"></div>
                <div class="item_card_description">
                    <div class="card_name">Balenciaga logo hoodie</div>
                    <div>
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="empty" src="Star_empty.png">
                    </div>
                    <div class="card_location_flex">
                        <div class="card_location">Location</div>
                        <div class="card_location_icon"><img src="Card_location_icon.png"></div>
                        <div class="card_location">Beijin China</div>
                    </div>
                    <div class="card_available">Available in the store</div>
                    <div class="card_price">
                        <div id="current_price">$349</div>
                        <div id="current_sale">25%</div>
                        <div id="initial_price">$465,33</div>
                    </div>
                </div>
                <div class="card_button_body">
                    <button class="card_button" type="button">
                        <img id="purchase_icon" src="Card_purchase_icon.png">
                        <div class="card_button_text">Purchase now</div>
                    </button>
                </div>
            </div>
            <div class="item">
                <div class="item_picture"><img src="Card_photo.png"></div>
                <div class="item_card_description">
                    <div class="card_name">Balenciaga logo hoodie</div>
                    <div>
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="empty" src="Star_empty.png">
                    </div>
                    <div class="card_location_flex">
                        <div class="card_location">Location</div>
                        <div class="card_location_icon"><img src="Card_location_icon.png"></div>
                        <div class="card_location">Beijin China</div>
                    </div>
                    <div class="card_available">Available in the store</div>
                    <div class="card_price">
                        <div id="current_price">$349</div>
                        <div id="current_sale">25%</div>
                        <div id="initial_price">$465,33</div>
                    </div>
                </div>
                <div class="card_button_body">
                    <button class="card_button" type="button">
                        <img id="purchase_icon" src="Card_purchase_icon.png">
                        <div class="card_button_text">Purchase now</div>
                    </button>
                </div>
            </div>
            <div class="item">
                <div class="item_picture"><img src="Card_photo.png"></div>
                <div class="item_card_description">
                    <div class="card_name">Balenciaga logo hoodie</div>
                    <div>
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="full" src="Star_full.png">
                        <img class="review_star" id="empty" src="Star_empty.png">
                    </div>
                    <div class="card_location_flex">
                        <div class="card_location">Location</div>
                        <div class="card_location_icon"><img src="Card_location_icon.png"></div>
                        <div class="card_location">Beijin China</div>
                    </div>
                    <div class="card_available">Available in the store</div>
                    <div class="card_price">
                        <div id="current_price">$349</div>
                        <div id="current_sale">25%</div>
                        <div id="initial_price">$465,33</div>
                    </div>
                </div>
                <div class="card_button_body">
                    <button class="card_button" type="button">
                        <img id="purchase_icon" src="Card_purchase_icon.png">
                        <div class="card_button_text">Purchase now</div>
                    </button>
                </div>
            </div>
    </div>

    <script src="Testing_pages.js"></script>
</body>
</html>